/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}
a{
  color: #4C9CF1;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #444;
}

header {
  display: block;
  height: 80px;
  background: lightgray;
}

nav {
  float: right;
  margin: auto;
  width: 50%;
  padding: 40px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  float: left;
  padding-right: 20px;

}

.current {
  color: #2262AD;
}
