<header>
  <h1> Welcome to Kole Students </h1>
  <nav id="nav-bar" >
    <div>
    <ul>
      <li>
        <a routerLink="/students-center" routerLinkActive="active">Students</a>
      </li>
      <li>
        <a routerLink="/class-dashboard" routerLinkActive="active">Classes</a>
      </li>
      <li>
        <a routerLink="/courses-dashboard" routerLinkActive="active">Courses</a>
      </li>
      <li>
        <a routerLink="/instructors-center" routerLinkActive="active">Instructors</a>
      </li>
      <li>
        <a routerLink="schools-dashboard" routerLinkActive="active">Schools</a>
      </li>
    </ul>
  </div>
  </nav>
</header>
