<header>
  <h1> Welcome to Kole Students </h1>
  <nav id="nav-bar" >
    <div>
    <ul>
      <li>
        <a routerLink="/students-center" routerLinkActive="active" class="current">Students</a>
      </li>
      <li>
        <a routerLink="/class-dashboard">Classes</a>
      </li>
      <li>
        <a routerLink="/courses-dashboard">Courses</a>
      </li>
      <li>
        <a routerLink="/instructors-center">Instructors</a>
      </li>
      <li>
        <a routerLink="schools-dashboard">Schools</a>
      </li>
    </ul>
  </div>
  </nav>
</header>
<router-outlet></router-outlet>
