<input type="text" >
<button class="button-primary">New Student</button>
<div class="card card-default ">
  <div class="card-header">
      <h3 class="card-title">Enrollment Process</h3>
        <ul class="nav nav-pills nav-wizard nav-wizard-backnav" role="tablist">
          <li data-step="1" data-name="admission" class="active nav-item" role="tab">
            <a data-toggle="pill" href="#admission">
               <span class="badge badge-default">1</span> Confirm Admission <i class="fa fa-times" aria-hidden="true"></i>
               <span class="chevron"></span>
            </a>
          </li>
          <li data-step="2" class="nav-item" role="tab">
            <a data-toggle="pill" href="#payments">
                <span class="badge badge-default">2</span> Confirm Payments <i class="fa fa-times" aria-hidden="true"></i>
                <span class="chevron"></span>
            </a>
          </li>
          <li data-step="3" class="nav-item" role="tab">
            <a data-toggle="pill" href="#class">
                <span class="badge badge-default">3</span> Assign Class <i class="fa fa-times" aria-hidden="true"></i>
                <span class="chevron"></span>
            </a>
          </li>
        </ul>
    </div>
  </div> <!--Header Ends-->
  <div class="card-body ">
    <div class="tab-content">
      <div class="tab-pane active " id="admission" role="tabpanel" data-step="1">
        <h4>Confirm Admission</h4>
      </div>

      <div class="tab-pane" id="payments" role="tabpanel" data-step="2">
        <h4>Confirm Payments</h4>
      </div>

      <div class="tab-pane" id="class" role="tabpanel" data-step="3">
        <h4>Assign Class</h4>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
