<div class="row" >
  <ul class="nav  nav-pills flex-column col-sm-3" >
    <li role="presentation" class="nav-item nav-link active" [routerLink]="[{outlets: {menucontent: ['students-dashboard']}}]"  [routerLinkActive]="['active']">
      <a >Dashboard </a>
    </li>
    <li role="presentation" class="nav-item nav-link" [routerLink]="[{outlets: {menucontent: ['students-enrollment']}}]" [routerLinkActive]="['active']">
      <a >Enrollment </a>
    </li>
    <li role="presentation"  class="nav-item nav-link" [routerLink]="[{outlets: {menucontent: ['students-list']}}]" [routerLinkActive]="['active']" >
      <a>Register<span class="badge badge-pill badge-default">{{ count }}</span></a>
    </li>
    <li role="presentation"  class="nav-item nav-link" [routerLink]="[{outlets: {menucontent: ['students-attendance']}}]" [routerLinkActive]="['active']">
      <a>Attendance</a>
    </li>
    <li role="presentation"  class="nav-item nav-link" [routerLink]="[{outlets: {menucontent: ['students-performance']}}]" [routerLinkActive]="['active']">
      <a>Performance</a>
    </li>
    <li role="presentation"   class="nav-item nav-link" [routerLink]="[{outlets: {menucontent: ['students-transfer']}}]"  [routerLinkActive]="['active']">
      <a>Transfers</a>
    </li>
    <li role="presentation"  class="nav-item nav-link" [routerLink]="[{outlets: {menucontent: ['students-disciplinary']}}]" [routerLinkActive]="['active']">
      <a>Disciplinary</a>
    </li>
    <li role="presentation"  class="nav-item nav-link" [routerLink]="[{outlets: {menucontent: ['students-payments']}}]" [routerLinkActive]="['active']">
      <a>Payments</a>
    </li>
    <li [routerLink]="[{outlets: {menucontent: ['students-sponsorship']}}]" class="nav-item nav-link" [routerLinkActive]="['active']" >
      <a >Sponsorship
        <span class="badge badge-pill badge-default" title="GRZ">1,118</span>
        <span class="badge badge-pill badge-success" title="Self">300</span>
        <span class="badge badge-pill badge-primary" title="NGO">20</span>
      </a>
    </li>
  </ul>
  <div class="container tab-content col-sm-9">
    <router-outlet name="menucontent"></router-outlet>
    <router-outlet></router-outlet>
  </div>
</div>
