#container {
  position: relative;
  background: lightgray;
  border: 2px solid gray;
  border-radius: 5px;
  height: 650px;

}

footer {
  position: absolute;
  background: lightgray;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  border-radius: 2;
}


/*.main-container.header.nav-header-component {
  background: #B2BABB;
  border: 30px;
  border-radius: 2;
}*/
