<h1>Welcome to Kole Students</h1>
  <nav >
      <div >
        <ul >
          <li >
            <a routerLink="/students-center" routerLinkActive="active">Students </a>
          </li>
          <li>
            <a routerLink="/classes-dashboard" routerLinkActive="active">Classes</a>
          </li>
          <li>
            <a routerLink="/courses-dashboard" routerLinkActive="active">Courses</a>
          </li>
          <li>
            <a routerLink="/instructors-dashboard" routerLinkActive="active">Instructors</a>
          </li>
          <li>
            <a routerLink="schools-dashboard" routerLinkActive="active">Schools</a>
          </li>
        </ul>
      </div>
  </nav>


<router-outlet></router-outlet>

<footer>
  <pre>Powered by Silverkey Technologies!</pre>
</footer>
