#container {
  position: relative;
  background: lightgray;
  border: 2px solid gray;
  border-radius: 5px;
  height: 650px;

}

#main-content-component {

}
#page-footer-component {

}
#nav-header-component {

}

/*.main-container.header.nav-header-component {
  background: #B2BABB;
  border: 30px;
  border-radius: 2;
}*/
