<!--<li class="nav-item nav-link" [routerLink]="[{ outlets: {performance: ['performance']}}]" [routerLinkActive]="['active']">-->
<div class="card ">
  <div class="card-header">
    Student Profile
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item nav-link active" [routerLink]="['personal-info']" [routerLinkActive]="['active']">
        <a>Info</a>
      </li>
      <li class="nav-item nav-link" [routerLink]="['performance']" [routerLinkActive]="['active']">
        <a>Performance</a>
      </li>
      <li class="nav-item nav-link" [routerLink]="['attendance']" [routerLinkActive]="['active']">
        <a>Attendance</a>
      </li>
      <li class="nav-item nav-link" [routerLink]="['disciplinary']" [routerLinkActive]="['active']">
        <a>Disciplinary</a>
      </li>
    </ul>
  </div>
  <div class="card-block">


    <div class="container-fluid" >
      <router-outlet></router-outlet>
    </div>

    <div class="btn btn-primary" (click)="onBack()">back</div>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
